<div class="widgets" ng-controller="ActionEditCtrl as actionEditCtrlVm">
  <div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-class="with-scroll">
        <div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name"
                    ng-model="actionEditCtrlVm.action.name">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description"
                    ng-model="actionEditCtrlVm.action.description">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="type">Type</label>
                <input type="text" class="form-control" id="type"
                       ng-model="actionEditCtrlVm.action.type">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="callbackAction-url">Callback Action Url</label>
                <input type="text" class="form-control" id="callbackAction-url"
                       ng-model="actionEditCtrlVm.action.callbackAction.url">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="callbackAction-enabled">
                  <input type="checkbox" id="callbackAction-enabled" ng-model="actionEditCtrlVm.callbackAuthEnabled">
                  Enable Callback Action Auth
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6" ng-if="actionEditCtrlVm.callbackAuthEnabled">
              <div class="form-group">
                <label for="callbackAction-username">Callback Action Auth Username</label>
                <input type="text" class="form-control" id="callbackAction-username"
                       ng-model="actionEditCtrlVm.action.callbackAction.auth.username">
              </div>
            </div>
            <div class="col-sm-6" ng-if="actionEditCtrlVm.callbackAuthEnabled">
              <div class="form-group">
                <label for="callbackAction-password">Callback Action Auth Username</label>
                <input type="password" class="form-control" id="callbackAction-password"
                       ng-model="actionEditCtrlVm.action.callbackAction.auth.password">
              </div>
            </div>
            <div class="col-sm-6" ng-if="actionEditCtrlVm.callbackAuthEnabled">
              <div class="form-group">
                <label for="callbackAction-bearerToken">Callback Action Auth BearerToken</label>
                <input type="password" class="form-control" id="callbackAction-bearerToken"
                       ng-model="actionEditCtrlVm.action.callbackAction.auth.bearerToken">
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary" ng-click="actionEditCtrlVm.saveAction()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
