<div ng-controller="ClaimListCtrl as claimListCtrlVm">
  <div ba-panel class="viewport100">
    <div id="map-bubbles"></div>
  </div>

  <div class="widgets">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-primary bootstrap-panel with-scroll">
          <div class="panel-heading">All Claims</div>
          <div class="panel-body">
            <div class="horizontal-scroll">
              <div class="heading-widget section-block ng-scope"
                 ng-if="claimListCtrlVm.isLoading">
                <h2>Loading...</h2>
              </div>
              <div class="heading-widget section-block ng-scope"
                 ng-if="!claimListCtrlVm.isLoading && claimListCtrlVm.claims.length === 0">
                <h2>You don't have any claims.</h2>
              </div>
              <table class="table table-hover"
                  ng-if="!claimListCtrlVm.isLoading && claimListCtrlVm.claims.length > 0">
                <tr class="header-row">
                  <th class="table-id">#</th>
                  <th>Damage Date</th>
                  <th>Damage Incurred</th>
                  <th>Policy Id</th>
                  <th>Policy Holder</th>
                </tr>
                <tr ng-repeat="claim in claimListCtrlVm.claims | orderBy:'damageDate':true"
                  ui-sref="main.claim-view({claimId: claim._id})" class="editable-tr-wrap">
                  <td class="table-id">{{$index + 1}}</td>
                  <td>
                    {{claim.damageDate | date:'h:mm a  MM/dd/yyyy'}}
                  </td>
                  <td>
                    {{claim.damageIncurred | number}}
                  </td>
                  <td>
                    {{claim.policyId}}
                  </td>
                  <td>
                    {{claimListCtrlVm.userMap[claim.policyHolderName].fullname}}
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
