<div class="widgets" ng-controller="ClaimViewCtrl as claimViewCtrlVm">
  <div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-class="with-scroll">
        <div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="policyNumber">Policy Number</label>
                <input style="color: black;" type="text" class="form-control" id="policyNumber"
                    ng-model="claimViewCtrlVm.claim.policyNumber">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="policyName">Policy Name</label>
                <input style="color: black;" type="text" class="form-control" id="policyName"
                    ng-model="claimViewCtrlVm.claim.policyName">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="policyHolder">Policy Holder</label>
                <input style="color: black;" type="text" class="form-control" id="policyHolder"
                    ng-model="claimViewCtrlVm.claim.policyHolder">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="phone">Telephone</label>
                <input style="color: black;" type="text" class="form-control" id="phone"
                       ng-model="claimViewCtrlVm.claim.phone">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="address">Address</label>
                <input style="color: black;" type="text" class="form-control" id="address"
                       ng-model="claimViewCtrlVm.claim.address">
              </div>
            </div>
            <div class="col-sm-6">

            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="damageDate">Damage Date</label>
                <input style="color: black;" type="text" class="form-control" id="damageDate"
                       ng-model="claimViewCtrlVm.claim.damageDate">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="damageTime">Damage Time</label>
                <input style="color: black;" type="text" class="form-control" id="damageTime"
                       ng-model="claimViewCtrlVm.claim.damageTime">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="damageIncurred">Damage Incurred</label>
                <input style="color: black;" type="text" class="form-control" id="damageIncurred"
                       ng-model="claimViewCtrlVm.claim.damageIncurred">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="description">Description</label>
                <input style="color: black;" type="text" class="form-control" id="description"
                       ng-model="claimViewCtrlVm.claim.description">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-title="Claim Location" class="viewport100">
        <div id="google-maps"></div>
      </div>
    </div>
  </div>
</div>
