<div class="widgets" ng-controller="ClaimAddCtrl as claimAddCtrlVm">
  <div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-class="with-scroll">
        <div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="policyHolder">Policy Holder</label>
                <span type="text" class="form-control" id="policyHolder">
                  {{claimAddCtrlVm.user.fullname}}
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="policyId">Policy Id</label>
                <input type="text" class="form-control" id="policyId"
                     ng-model="claimAddCtrlVm.claim.policyId">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="policyName">Policy Name</label>
                <input type="text" class="form-control" id="policyName"
                     ng-model="claimAddCtrlVm.claim.policyName">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="damageDate">Damage Date</label>
                <p class="input-group">
                    <input type="text" class="form-control" ng-required="true"
                      ng-model="claimAddCtrlVm.claim.damageDate"
                      uib-datepicker-popup="{{claimAddCtrlVm.format}}"
                      datepicker-options="claimAddCtrlVm.options"
                      is-open="claimAddCtrlVm.opened" close-text="Close"
                      alt-input-formats="altInputFormats" show-button-bar="false" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="claimAddCtrlVm.open()">
                      <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                  </span>
                </p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="damageIncurred">Damage Incurred</label>
                <input type="number" min="1" class="form-control" id="damageIncurred"
                     ng-model="claimAddCtrlVm.claim.damageIncurred">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="damageIncurred">Damage Time</label>
                <div uib-timepicker ng-model="claimAddCtrlVm.claim.damageDate"
                    ng-change="changed()" hour-step="1" minute-step="15"
                    show-meridian="true">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="description">Description</label>
                <textarea placeholder="Explain your claim." class="form-control" id="description"
                    ng-model="claimAddCtrlVm.claim.description">
                </textarea>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary pull-right" ng-click="claimAddCtrlVm.saveClaim()">Save</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary bootstrap-panel with-scroll">
        <div class="panel-heading">Previous Claims</div>
        <div class="panel-body">
          <div class="horizontal-scroll">
            <div class="heading-widget section-block ng-scope"
               ng-if="claimListCtrlVm.isLoading">
              <h2>Loading...</h2>
            </div>
            <div class="heading-widget section-block ng-scope"
               ng-if="!claimAddCtrlVm.isLoading && claimAddCtrlVm.claims.length === 0">
              <h2>You don't have any claims.</h2>
            </div>
            <table class="table table-hover"
                ng-if="!claimAddCtrlVm.isLoading && claimAddCtrlVm.claims.length > 0">
              <tr class="header-row">
                <th class="table-id">#</th>
                <th>Damage Date</th>
                <th>Policy Id</th>
                <th>Policy Holder</th>
              </tr>
              <tr ng-repeat="claim in claimAddCtrlVm.claims | orderBy:'damageDate':true"
                ui-sref="main.claim-view({claimId: claim._id})" class="editable-tr-wrap">
                <td class="table-id">{{$index + 1}}</td>
                <td>
                  {{claim.damageDate | date:'h:mm a  MM/dd/yyyy'}}
                </td>
                <td>
                  {{claim.policyId}}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
