<div class="widgets" ng-controller="HazardViewCtrl as hazardViewCtrlVm">

  <div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-class="with-scroll">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="userId">Customer</label>
              <span class="form-control" id="userId">
                {{hazardViewCtrlVm.hazard.userId}}
              </span>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="shieldName">Shield</label>
              <span class="form-control" id="shieldName"
                  ng-model="hazardViewCtrlVm.shield.name">
                  {{hazardViewCtrlVm.shield.name}}
                </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="title">Event</label>
              <span class="form-control" id="title"
                  ng-model="hazardViewCtrlVm.hazard.title">
                  {{hazardViewCtrlVm.hazard.extra.title}}
                </span>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="timestamp">Event Time</label>
              <span class="form-control" id="timestamp">
                {{hazardViewCtrlVm.hazard.createdAt | date:'mediumTime'}} {{hazardViewCtrlVm.hazard.createdAt | date:'shortDate'}}
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="ishandled">Acknowledged</label>
              <span class="form-control" id="ishandled">
                {{hazardViewCtrlVm.hazard.ishandled ? 'Yes' : 'No'}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-title="Hazard Location" class="viewport100">
        <div id="google-maps"></div>
      </div>
    </div>
  </div>
</div>
