<div class="widgets">
  <div class="row" ng-controller="ShieldListCtrl as shieldListCtrlVm">
    <div class="col-md-12">
      <div ba-panel ba-panel-class="with-scroll horizontal-tabs tabs-panel medium-panel">
        <uib-tabset active="$tabSetStatus.activeTab">
          <uib-tab heading="Active Shields">
            <div class="heading-widget section-block ng-scope" ng-if="shieldListCtrlVm.userShields.length === 0">
              <h2>No Activated Shield</h2>
              <p>You don't have any activated shields yet. You can go to All Shields tab and activate some shields.</p>
            </div>
            <table class="table table-hover" ng-if="shieldListCtrlVm.userShields.length > 0">
              <tr class="header-row">
                <th class="table-id">#</th>
                <th>Name</th>
                <th>Action</th>
              </tr>
              <tr class="editable-tr-wrap" ng-repeat="shield in shieldListCtrlVm.userShields">
                <td class="table-id">{{$index + 1}}</td>
                <td>
                  <span editable-text="shield.name" blur="cancel"
                      onaftersave="shieldListCtrlVm.saveShield(shield)">{{shield.name}}
                  </span>
                </td>
                <td>
                  <button class="btn btn-primary editable-table-button btn-xs"
                    ng-click="shieldListCtrlVm.deactivate(shield)">Deactivate</button>
                </td>
              </tr>
            </table>
          </uib-tab>
          <uib-tab heading="All Shields">
<!--
            <div class="add-row-editable-table">
              <button class="btn btn-primary" ui-sref="main.shield-edit({shieldUuid: 'new'})">Add Shield</button>
            </div>
-->
            <table class="table table-hover">
              <tr class="header-row">
                <th class="table-id">#</th>
                <th>Name</th>
                <th>Action</th>
              </tr>
              <tr class="editable-tr-wrap" ng-repeat="shield in shieldListCtrlVm.allShields">
                <td class="table-id">{{$index + 1}}</td>
                <td>
                  <span>{{shield.name}}</span>
                </td>
                <td>
                  <button class="btn btn-primary editable-table-button btn-xs"
                      ng-if="!shieldListCtrlVm.activeShields[shield._id]"
                      ng-click="shieldListCtrlVm.activate(shield)">
                        Activate
                  </button>
                </td>
              </tr>
            </table>
          </uib-tab>
        </uib-tabset>
      </div>
  </div>
</div>
