<div class="widgets" ng-controller="HazardListCtrl as hazardListCtrlVm">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary bootstrap-panel with-scroll">
        <div class="panel-body">
          <div class="horizontal-scroll">
            <div class="heading-widget section-block ng-scope"
               ng-if="hazardListCtrlVm.isLoading">
              <h2>Loading...</h2>
            </div>
            <div class="heading-widget section-block ng-scope"
                ng-if="!hazardListCtrlVm.isLoading && hazardListCtrlVm.hazards.length === 0">
              <h2>You don't have any hazards.</h2>
            </div>
            <table class="table table-hover"
                ng-if="!hazardListCtrlVm.isLoading && hazardListCtrlVm.hazards.length > 0">
              <tr class="header-row">
                <th class="table-id">#</th>
                <th>Event Title</th>
                <th>Event Time</th>
                <th>Shield</th>
              </tr>
              <tr class="editable-tr-wrap clickable"
                  ng-repeat="hazard in hazardListCtrlVm.paginatedHazards"
                  ui-sref="main.hazard-view({hazardEventId: hazard._id})">
                <td class="table-id">
                  {{(hazardListCtrlVm.currentPage-1)*hazardListCtrlVm.itemsPerPage + $index + 1}}
                </td>
                <td>
                  {{hazard.actionParams.hazardTitle}}
                </td>
                <td>
                  {{hazard.createdAt | date:'mediumTime'}} {{hazard.createdAt | date:'shortDate'}}
                </td>
                <td>
                  {{hazardListCtrlVm.uuidToShieldMap[hazard.shieldId].name}}
                </td>
              </tr>
              <tfoot>
              <tr ng-if="hazardListCtrlVm.totalItems > hazardListCtrlVm.itemsPerPage">
                <td colspan="6" class="text-center">
                  <ul uib-pagination direction-links="false" total-items="hazardListCtrlVm.totalItems"
                      ng-model="hazardListCtrlVm.currentPage" items-per-page="hazardListCtrlVm.itemsPerPage"></ul>
                </td>
              </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
