<div class="widgets" ng-controller="ShieldEditCtrl as shieldEditCtrlVm">
  <div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-class="with-scroll">
        <div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name"
                    ng-model="shieldEditCtrlVm.shield.name">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="type">Type</label>
                <input type="text" class="form-control" id="type"
                    ng-model="shieldEditCtrlVm.shield.type">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description"
                    ng-model="shieldEditCtrlVm.shield.description">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="type">Shield Actions</label>
                <ui-select multiple ng-model="shieldEditCtrlVm.shield.actionIds">
                  <ui-select-match placeholder="Select actions">
                    {{$item.name}} <br> <small>{{$item.description}}</small>
                  </ui-select-match>
                  <ui-select-choices repeat="action._id as action in shieldEditCtrlVm.actions">
                    {{action.name}} <br> <small>{{action.description}}</small>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="potentialClaimAmount">Potential Claim Amount</label>
                <input type="text" class="form-control" id="potentialClaimAmount"
                    ng-model="shieldEditCtrlVm.shield.potentialClaimAmount">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="checkbox-inline custom-checkbox nowrap">
                  <input type="checkbox" id="canBeDisabled" ng-model="shieldEditCtrlVm.shield.canBeDisabled">
                  <span>Allow disabling</span>
                </label>
                <label class="checkbox-inline custom-checkbox nowrap">
                  <input type="checkbox" id="hazardDetectionOnCloud" ng-model="shieldEditCtrlVm.shield.hazardDetectionOnCloud">
                  <span>Hazard Detection on Cloud</span>
                </label>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary" ng-click="shieldEditCtrlVm.saveShield()">Save</button>
        </div>
      </div>
      <div ba-panel ba-panel-class="with-scroll">
        <div class="add-row-editable-table">
          <button class="btn btn-primary" ui-sref="main.shield-code-edit({shieldCodeId: 'new', shieldId: shieldEditCtrlVm.shield._id})">Add Shield Code</button>
        </div>
        <table class="col-md-12 table table-hover">
          <tr class="header-row">
            <th class="table-id">#</th>
            <th>Name</th>
            <th>Description</th>
            <th>Enabled</th>
          </tr>
          <tr ng-repeat="shieldCode in shieldEditCtrlVm.shieldcodes" class="editable-tr-wrap"
              ui-sref="main.shield-code-edit({shieldId: shieldEditCtrlVm.shield._id, shieldCodeId: shieldCode._id})">
            <td class="table-id">{{$index + 1}}</td>
            <td>
              <span>{{shieldCode.name}}</span>
            </td>
            <td>
              <span>{{shieldCode.description}}</span>
            </td>
            <td>
              <span>{{shieldCode.enabled}}</span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
