<div class="widgets" ng-controller="ShieldCodeEditCtrl as shieldCodeEditCtrlVm">
  <div class="row">
    <div class="col-md-12">
      <h4>Shield Code - <small>{{shieldCodeEditCtrlVm.shieldCode._id}}</small></h4>
      <div ba-panel ba-panel-class="with-scroll">
        <div>
          <div class="row">
            <div class="col-sm-6">
              <div class="checkbox">
                <label for="shieldCode_enabled">
                  <input type="checkbox" id="shieldCode_enabled" ng-model="shieldCodeEditCtrlVm.shieldCode.enabled">
                  Enabled
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="shieldCode_description">Description</label>
                <input type="text" class="form-control" id="shieldCode_description"
                       ng-model="shieldCodeEditCtrlVm.shieldCode.description">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="codeFile">Shield Sab File</label>
                <input files-input type="file" class="form-control" id="codeFile"
                       ng-model="shieldCodeEditCtrlVm.shieldCode.codeFile">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="jobOptions">Shield Code Options</label>
                <textarea json-text class="form-control" id="jobOptions"
                          ng-model="shieldCodeEditCtrlVm.shieldCode.jobOptions">
              </textarea>
              </div>
            </div>
          </div>
        </div>
          <button type="submit" class="btn btn-primary" ng-click="shieldCodeEditCtrlVm.saveShieldCode()"
                  data-ng-disabled="shieldCodeEditCtrlVm.saving">
            Save
            <span ng-show="shieldCodeEditCtrlVm.saving"><i class="fa fa-refresh fa-spin"></i></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
