<div class="row pie-charts">
  <div class="pie-chart-item-container" ng-repeat="chart in charts">
    <div ba-panel ng-if="chart.link" class="clickable" ui-sref="{{chart.link}}">
      <div class="pie-chart-item">
        <div class="description">
          <div>{{ chart.description }}</div>
          <div class="description-stats">{{ chart.stats }}</div>
        </div>
        <i class="chart-icon i-{{ chart.icon }}"></i>
      </div>
    </div>
    <div ba-panel ng-if="!chart.link">
      <div class="pie-chart-item">
        <div class="description">
          <div>{{ chart.description }}</div>
          <div class="description-stats">{{ chart.stats | number }}</div>
        </div>
        <i class="chart-icon i-{{ chart.icon }}"></i>
      </div>
    </div>
  </div>
</div>
