<div class="widgets" ng-controller="HazardViewCtrl as hazardViewCtrlVm">

  <div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-class="with-scroll">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="username">Customer</label>
              <input type="text" class="form-control" id="username"
                  ng-model="hazardViewCtrlVm.hazard.username">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="shieldName">Shield</label>
              <input type="text" class="form-control" id="shieldName"
                  ng-model="hazardViewCtrlVm.shield.name">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="title">Event</label>
              <input type="text" class="form-control" id="title"
                  ng-model="hazardViewCtrlVm.hazard.title">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="timestamp">Event Time</label>
              <input type="text" class="form-control" id="timestamp"
                     ng-model="hazardViewCtrlVm.hazard.eventTimeStr">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="ishandled">Acknowledged</label>
              <input type="text" class="form-control" id="ishandled"
                     ng-model="hazardViewCtrlVm.hazard.ishandled">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-primary pull-right"
                ui-sref="main.claim-add({username: hazardViewCtrlVm.hazard.username})">
              Create Claim
            </button>
            <button class="btn btn-primary pull-right" ng-if="!hazardViewCtrlVm.hazard.ishandled"
                ng-click="hazardViewCtrlVm.acknowledgeHazard(hazardViewCtrlVm.hazard)">
              Acknowledge
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-title="Hazard Location" class="viewport100">
        <div id="google-maps"></div>
      </div>
    </div>
  </div>
</div>
