<div class="widgets" ng-controller="UserViewCtrl as userViewCtrlVm">
  <div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-class="with-scroll">
        <uib-tabset active="$tabSetStatus.activeTab">
          <uib-tab heading="User Info">
            <div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="username">username</label>
                    <input ng-disabled="true" style="color: black;" type="text" class="form-control" id="username"
                           ng-model="userViewCtrlVm.user.username">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="fullname">fullname</label>
                    <input ng-disabled="true" style="color: black;" type="text" class="form-control" id="fullname"
                           ng-model="userViewCtrlVm.user.fullname">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="firstname">firstname</label>
                    <input ng-disabled="true" style="color: black;" type="text" class="form-control" id="firstname"
                           ng-model="userViewCtrlVm.user.firstname">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="lastname">lastname</label>
                    <input ng-disabled="true" style="color: black;" type="text" class="form-control" id="lastname"
                           ng-model="userViewCtrlVm.user.lastname">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="email">email</label>
                    <input ng-disabled="true" style="color: black;" type="text" class="form-control" id="email"
                           ng-model="userViewCtrlVm.user.email">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="address">address</label>
                    <input ng-disabled="true" style="color: black;" type="text" class="form-control" id="address"
                           ng-model="userViewCtrlVm.user.address">
                  </div>
                </div>
              </div>
              <div ba-panel ba-panel-title="User Location" class="viewport100">
                <div id="google-maps"></div>
              </div>
            </div>
          </uib-tab>
          <uib-tab heading="Active Shields">
            <div class="heading-widget section-block ng-scope" ng-if="userViewCtrlVm.userShields.length === 0">
              <h2>No Activated Shield</h2>
            </div>
            <table class="table table-hover" ng-if="userViewCtrlVm.userShields.length > 0">
              <tr class="header-row">
                <th class="table-id">#</th>
                <th>Name</th>
              </tr>
              <tr ui-sref="main.user-shield-view({shieldId: shield.shieldUUID})"  ng-repeat="shield in userViewCtrlVm.userShields" class="editable-tr-wrap">
                <td class="table-id">{{$index + 1}}</td>
                <td>
                  {{shield.shieldName}}
                </td>
              </tr>
            </table>
          </uib-tab>
          <uib-tab heading="Devices">
            <div class="heading-widget section-block ng-scope" ng-if="userViewCtrlVm.userDevices.length === 0">
              <h2>No Available Devices</h2>
            </div>
            <table class="table table-hover" ng-if="userViewCtrlVm.userDevices.length > 0">
              <tr class="header-row">
                <th class="table-id">#</th>
                <th>Name</th>
              </tr>
              <tr ui-sref="main.user-device-view({deviceId: device._id})"  ng-repeat="device in userViewCtrlVm.userDevices" class="editable-tr-wrap">
                <td class="table-id">{{$index + 1}}</td>
                <td>
                  {{device.extra.deviceDesc}}
                </td>
              </tr>
            </table>
          </uib-tab>
          <uib-tab heading="Hazards">
            <div class="heading-widget section-block ng-scope" ng-if="userViewCtrlVm.userHazards.length === 0">
              <h2>No Hazards</h2>
            </div>
            <table class="table table-hover" ng-if="userViewCtrlVm.userHazards.length > 0">
              <tr class="header-row">
                <th class="table-id">#</th>
                <th>Name</th>
              </tr>
              <tr ui-sref="main.hazard-view({hazardEventId: hazard.hazardid})"  ng-repeat="hazard in userViewCtrlVm.userHazards" class="editable-tr-wrap">
                <td class="table-id">{{$index + 1}}</td>
                <td>
                  {{hazard.shieldUUID}}
                </td>
              </tr>
            </table>
          </uib-tab>
          <uib-tab heading="Claims">
          </uib-tab>
        </uib-tabset>
      </div>
    </div>
  </div>
</div>
