<div class="widgets" ng-controller="UserShieldViewCtrl as userShieldViewCtrlVm">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-class="with-scroll">
                <div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name">name</label>
                                <input ng-disabled="true" style="color: black;" type="text" class="form-control" id="name"
                                       ng-model="userShieldViewCtrlVm.userShield.name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="type">type</label>
                                <input ng-disabled="true" style="color: black;" type="text" class="form-control" id="type"
                                       ng-model="userShieldViewCtrlVm.userShield.type">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="description">description</label>
                                <input ng-disabled="true" style="color: black;" type="text" class="form-control" id="description"
                                       ng-model="userShieldViewCtrlVm.userShield.description">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="sensorType">sensorType</label>
                                <input ng-disabled="true" style="color: black;" type="text" class="form-control" id="sensorType"
                                       ng-model="userShieldViewCtrlVm.userShield.sensorType">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="potentialClaimAmount">potentialClaimAmount</label>
                                <input ng-disabled="true" style="color: black;" type="text" class="form-control" id="potentialClaimAmount"
                                       ng-model="userShieldViewCtrlVm.userShield.potentialClaimAmount">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="hazardDetectionOnCloud">hazardDetectionOnCloud</label>
                                <input ng-disabled="true" style="color: black;" type="text" class="form-control" id="hazardDetectionOnCloud"
                                       ng-model="userShieldViewCtrlVm.userShield.hazardDetectionOnCloud">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
