<div class="widgets" ng-controller="DeviceEditCtrl as deviceEditCtrlVm">
  <div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-class="with-scroll">
        <div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="vendorId">VendorId</label>
                <input type="text" class="form-control" id="vendorId"
                    ng-model="deviceEditCtrlVm.device.vendorId">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="vendor">Vendor</label>
                <input type="text" class="form-control" id="vendor"
                    ng-model="deviceEditCtrlVm.device.vendor">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="vendor">Type</label>
                <input readonly class="form-control" id="type"
                       ng-model="deviceEditCtrlVm.device.type">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="tokens">Tokens</label>
                <textarea class="form-control" id="tokens" json-text ng-change="deviceEditCtrlVm.validateJson('tokens', 'textareaTokensError')"
                          placeholder="must be json"
                          ng-model="deviceEditCtrlVm.device.tokens">
                </textarea>
                <span class="text text-danger">{{deviceEditCtrlVm.textareaTokensError}}</span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="address">Address</label>
                <textarea class="form-control" id="address"
                          placeholder="Device static address if exists"
                          ng-model="deviceEditCtrlVm.device.address">
                </textarea>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary" ng-click="deviceEditCtrlVm.saveDevice()">Save</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-title="Device Location" class="viewport100">
        <div id="google-maps"></div>
      </div>
    </div>
  </div>
</div>
