<div class="widgets">
  <div class="row" ng-controller="DeviceListCtrl as deviceListCtrlVm">
    <div class="col-md-12">
      <div ba-panel ba-panel-class="with-scroll">

        <div class="add-row-editable-table">
          <button class="btn btn-primary" ui-sref="main.device-edit({deviceId: 'new'})">Add Gateway</button>
        </div>

        <div class="horizontal-scroll">
          <div class="heading-widget section-block ng-scope"
             ng-if="deviceListCtrlVm.isLoading">
            <h2>Loading...</h2>
          </div>
          <div class="heading-widget section-block ng-scope"
              ng-if="!deviceListCtrlVm.isLoading && deviceListCtrlVm.devices.length === 0">
            <h2>You don't have any devices.</h2>
          </div>
          <table class="table table-hover"
              ng-if="!deviceListCtrlVm.isLoading && deviceListCtrlVm.devices.length > 0">
            <tr class="header-row">
              <th class="table-id">#</th>
              <th>Device Vendor Id</th>
              <th>Metadata</th>
            </tr>
            <tr class="editable-tr-wrap" ng-repeat="device in deviceListCtrlVm.devices"
                ui-sref="main.device-edit({deviceId: device._id})">
              <td class="table-id">{{$index + 1}}</td>
              <td>
                <span>{{device.vendorId}}</span>
              </td>
              <td>
                {{device.metadata}}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
